MONGO_URL="mongodb+srv://<user>:<password>@cluster0.jdq552k.mongodb.net/?appName=Cluster0"
DB_NAME="surishi"
JWT_SECRET="4970edb05ce32b86f94adfc28d634f5bcce8a9cf0eecc5fb38834821ddbf755a01f4aa65a2efdc9ba45ba9ebdccbc9a8"
